{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form action="/home">
        <h1>New user has been created!</h1>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login"/>Login!
      </form>


    </div> <!-- /container -->
{% endblock %}

